body
{
  margin:0;
  font-family:tahoma;
  color:#fff;
  background-size:cover;
  background-image:url(https://i.imgur.com/EdTuiFF.png);
}
img
{
  width:100%;
}
table
{
  width:100%;
  height:100%;
}

th,td
{
  text-align:center;
  border:1px solid white;
  border-collapse:collapse;
}
