mp_freezetime 			"15"
mp_fadetoblack 			"0"
mp_roundtime 			"1.75"
mp_c4timer 			"35"
mp_forcechasecam 		"2"
mp_forcecamera 			"2"
mp_startmoney 			"10000"
mp_buytime 			".25"
mp_friendlyfire 		"0"
mp_autoteambalance 		"0"
mp_limitteams 			"0"
mp_playerid 			"0"
mp_flashlight 			"1"
sv_alltalk 			"0"
mp_infinite_ammo		"0"