mp_freezetime 			"15"
mp_fadetoblack 			"2"
mp_roundtime 			"1.75"
mp_c4timer 			"40"
mp_forcechasecam 		"2"
mp_forcecamera 			"2"
mp_startmoney 			"800"
mp_buytime 			".25"
mp_friendlyfire 		"0"
mp_autoteambalance 		"0"
mp_limitteams 			"0"
mp_playerid 			"0"
mp_flashlight 			"1"
sv_alltalk 			"3"

// ReGameDLL CS
mp_round_infinite		"0"
mp_refill_bpammo_weapons	"2"
mp_infinite_ammo		"0"
mp_forcerespawn			"0"
mp_item_staytime		"300"
mp_respawn_immunitytime		"0"
mp_respawn_immunity_effects	"0"
mp_respawn_immunity_force_unset	"1"
mp_give_player_c4		"1"
mp_show_scenarioicon		"1"
mp_hegrenade_penetration "1"
mp_nadedrops "2"
mp_auto_reload_weapons "1"
mp_scoreboard_showhealth "3"
mp_scoreboard_showmoney "3"
mp_scoreboard_showdefkit "0"
mp_afk_bomb_drop_time "30"
mp_unduck_method "1"