mp_freezetime 			"0"
mp_fadetoblack 			"0"
mp_roundtime 			"1.75"
mp_c4timer 			"35"
mp_forcechasecam 		"0"
mp_forcecamera 			"0"
mp_startmoney 			"16000"
mp_buytime 			"999999.0"
mp_friendlyfire 		"0"
mp_autoteambalance 		"0"
mp_limitteams 			"0"
mp_playerid 			"0"
mp_flashlight 			"1"
sv_alltalk 			"1"
sv_restart			"1"
mp_infinite_ammo		"2"